<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/index/index.css" />
    <title>Adair Stone</title>
    <meta name="keywords" content="adair.stone" />
    <meta name="description" content="adair.stone.blog" />
</head>
<body>
    <div class="head-div">
        <div class="head-image"></div>
        <div  class="head-slogan">
            <p class="head-slogan-p">World is a mirror lake , stay quiet , not for every but pretty major . </p>
        </div>
    </div>
    <div class="body-div">
        <div class="body-inner">
            <ul class="inventory-list">
                <li>(壹)</li>
                <li>(贰)</li>
                <li>(叁)</li>
                <li>(肆)</li>
                <li>(伍)</li>
                <li>(陆)</li>
                <li>(柒)</li>
                <li>(捌)</li>
                <li>(玖)</li>
                <li>(拾)</li>
            </ul>
        </div>
    </div>
    <div class="footer-div">
        <p class="footer-slogan-p">@Copyright Adair Stone</p>
    </div>
</body>
</html>